@import "tailwindcss";
body {
  @apply text-white overflow-x-hidden;
  background: radial-gradient(circle at top, #120b2e, #070A1A 40%, #05060f);
}
.glow-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.glow-bg::before,
.glow-bg::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  filter: blur(120px);
  opacity: 0.4;
  border-radius: 50%;
}

.glow-bg::before {
  background: #ff4ecd;
  top: -100px;
  left: -100px;
}

.glow-bg::after {
  background: #4c6fff;
  bottom: -100px;
  right: -100px;
}